<!DOCTYPE html>
<!-- -->
<%
if params['class'] == ""
  klass = 'String'
else
  klass = params['class']
end
%>

<head>
<title><%= klass %></title>
</head>
<body>
<h1><%= klass %></h1>

<%=

if params['library']!= ""
  libopt = "-r#{params['library']}"
else
  libopt = ""
end

`ruby #{libopt} hierarchy.rb #{klass} | dot -Tsvg /dev/stdin`.each_line.drop(3).join

%>

</body>
</html>
