<!DOCTYPE html>
<!-- -->
<%
if params['class'] == ""
  klass = 'String'
else
  klass = params['class']
end
%>

<head>
<title><%= klass %></title>
</head>
<body>
<p><a href="/">新しい検索</a></p>
<h1><%= klass %></h1>

<%=

if params['library']!= ""
  libopt = "-r#{params['library']}"
else
  libopt = ""
end
svg = `ruby #{libopt} hierarchy.rb #{klass} | dot -Tsvg /dev/stdin`

postprocess_svg(svg, params['library'])

%>

</body>
</html>
